@use '../utils/utils' as *;



.bio { 
    background-color: rgba(255, 255, 255, 0.95);
    margin: $spacing-large auto;
    max-width: 1000px;
    padding: $spacing-large;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

h1 {
    color: $primary-color;
    margin-bottom: $spacing-medium;
    font-size: 2.5rem;
    font-weight: 900;
}

p {
    color: $text-dark;
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: $spacing-large;
}